.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

img {
  width: 100%;
}

.item {
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.overlay {
  transition: ease-in 1s;
  position: absolute;
  top: 230px;
  width: 100%;
  background-color: azure;
  opacity: 0;
}

.item:hover .overlay {
  top: 0;
  opacity: 0.9;
}
