.App {
  text-align: center;
}

.container {
  display: flex;
}

img {
  width: 100%;
}

.item {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: ease-in 1s;
  position: absolute;
  top: 230px;
  width: 100%;
  background-color: azure;
  opacity: 0;
}

.item:hover .overlay {
  top: 0;
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
